@model ElectroWarehouse.Models.WarehouseOperation

@{
    ViewData["Title"] = "Details";
}

<h1>Подробная информация</h1>

<div>
    <h4>Складская операция</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Part)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Part.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ControllerDevice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ControllerDevice.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Изменить</a> |
    <a asp-action="Index">Назад к списку</a>
</div>
