@model IEnumerable<ElectroWarehouse.Models.ControllerDevice>

@{
    ViewData["Title"] = "Контроллеры";
}

<h1>Контроллеры</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить контроллер</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Наименование контроллера</th>
            <th>Цена</th>
            <th>Степень защиты IP</th>
            <th>Количество на складе</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Price)</td>
            <td>@Html.DisplayFor(modelItem => item.IpRating)</td>
            <td>@Html.DisplayFor(modelItem => item.QuantityInStock)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>